/* ----------------------------------------------------------- */
/*  More Popular
/* ----------------------------------------------------------- */

.popular-left {
	background-color: $blue_color;
	width: 38.6%;
    padding-top: 52px;
	padding-left: 189px;
	padding-bottom: 91px;
	h3 {
		@include subheader($white_color);
		margin-bottom: 32px;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 21px;
		color: $white_color;
		margin-bottom: 21px;
	}
	p:nth-child(3) {
	    margin-bottom: 49px;
	}
}

.popular-right {
	background: url(../img/popular_cat.png) no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	width: 61.4%;
    min-height: 520px;
}

.popular-button {
	@include my_button($white_color);
	@include transitions(.3s);
}